/* TODO Add site wide styles */

li {
  list-style: none;
}

button {
  background-color: transparent;
  padding: 0.5rem;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #eee;
}

label, input {
  display: block;
  margin:5px 0px;
}
