.nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 120px;
}

.nav2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
}

.dropdown {
  display: block;
}

.profile-button {
  margin:20px 100px;

}

.profile-dropdown {
  position: absolute;
  padding: 0px;
}

.hidden {
  display: none;
}

.dropdown-profile, .dropdown-logout{
  font-size: 13px;
  font-family: "Capsule Sans Display",system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  border: 1px solid rgb(227, 233, 237);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-top: 5px;
}

.dropdown-profile:hover, .dropdown-logout:hover {
  background-color: rgb(227, 233, 237);
}


.login-signup {
  display: flex;
}

.login-button {

  color: yellowgreen;
  text-decoration: none;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: start;
  white-space: normal;
  cursor: pointer;
  background: rgb(0, 0, 0);
  border: 1px solid rgb(255, 199, 87);
  border-radius: 24px;
  height: 44px;
  padding: 0px 28px;
  width: 102px;
  font-family: "Capsule Sans Text", sans-serif;
}

.signup-button {
  color: inherit;
  text-decoration: none;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  white-space: nowrap;
  border-radius: 24px;
  cursor: pointer;
  animation-name: animation-fifjv8;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  background: rgb(255, 199, 87);
  border: 1px solid rgb(0, 0, 0);
  height: 44px;
  padding: 0px 28px;
  min-width: 102px !important;
  width: 102px !important;
}

.title {
  font-family: "Capsule Sans Display",system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 30px;
  font-weight: bolder;
  color: rgb(10, 7, 2);
}

/* .search-bar-search-results {
  border: 2px solid red;
} */

.logo {
  margin-top: 20px;
}

.search-bar {
  position: relative;
  width: 350px;
  height: 30px;
  margin: 20px 0px 15px 0px;
  /* border: 2px solid blue; */
}

.search-results-container {
  position: absolute;
  /* border: 1px solid green */
}

.search-results {
  display: flex;
  text-decoration: none;
  background-color: whitesmoke;
  font-size: 13px;
  font-weight: 500;
  font-family: "Capsule Sans Display",system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
}

.search-results:hover {
  background-color: rgb(227, 233, 237);
}

.results-symbols {
  color: rgb(2, 1, 0);
  margin-right: 30px;
}

.results-names {
  color: rgb(69, 206, 35);
}

.dropdown-profile .dropdown-logout {
  font-size: 13px;
  font-weight: 500;
  font-family: "Capsule Sans Display",system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
}
