.single-stock-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
}

.result-detail {
  font-size: 32px;
  font-weight: 700;
  font-family: "Capsule Sans Display",system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
}

.cash {
  display: flex;
  justify-content: space-between;
  height:24px;
  padding:24px 0px;
  font-size: 15px;
  font-weight: 700;
  font-family: "Capsule Sans Display",system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  border-bottom: 1px solid rgb(227, 233, 237);
}

.asset-stock-details {
  display: flex;
  justify-content: space-between;
  font-family: "Capsule Sans Display",system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
}

.asset-left, .asset-right {
  border: 1px solid rgba(7, 0, 0, 0.06);
  width: 283px;
  font-size: 17px;
}

.bold-price {
  font-size: 21px;
  font-weight: 700;
}

.trade-panel {
  grid-column-start: 2;
  grid-row-start: 1;
  padding-left: 24px;
  width:274px;
  height: 280px;
  border: 1px solid rgb(227, 233, 237);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px -12px 24px rgb(0 0 0 0.02), 0px 12px 24px rgb(0 0 0 0.06);
  margin:50px;
  position: relative;
  font-family: "Capsule Sans Display",system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
}

.transaction-switch {
  display: flex;
  justify-content: flex-end;
}

.transaction-form {
  margin-top: 50px;
}

.share-input {
  display: flex;
  justify-content:center;
  align-items:center;
  margin: 15px 23px 15px 0px;
}

.transaction-input-box {
  width:60px;
  margin-left:15px
}

.transaction-button {
  height:44px;
  padding:0px 48px;
  box-sizing:border-box;
  border-radius:44px;
  background-color:rgb(255, 80, 0);
  color:rgb(255, 255, 255);
  position:absolute;
  bottom: 24px;
  left: 71px;
  font-size: 15px;
  font-weight: 700;
}

.transaction-button:hover {
  background-color:rgb(255, 80, 0, 0.8);
}

.transaction-market-price {
  margin-left: 45px;
}

.transaction-estimated-cost {
  display: flex;
  justify-content: center;
  margin-right: 25px;
}

.transaction-market-price {
  font-weight: 700;
}

.watchlist-container {
  grid-column-start: 2;
  grid-row-start: 2;
  margin:0px 0px 0px 148px;
  font-family: "Capsule Sans Display",system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

/* .watchlist-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin:0px 0px 0px 133px;
  width:80px;
  height:30px;
  padding:0px 48px;
  border: 1px solid rgb(223, 204, 195);
  background-color:rgb(223, 204, 195);
  color:rgb(238, 7, 7);
  font-family: "Capsule Sans Display",system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

.watchlist-button:hover {
  background-color:rgba(189, 171, 162, 0.8);
} */
