
.main-page-whole-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url('../../coins.webp');
}

.main-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width:1000px;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color:white;
}

.left {
  display:block;
}

.total-value {
  width:50%;
  height: 50px;
  padding: 0px 0px 20px;
  font-size: 32px;
  font-weight: 700;
  font-family: "Capsule Sans Display",system-ui,"Segoe UI",sans-serif;
}

.cash-main {
  display: flex;
  justify-content: space-between;
  padding:24px 0px;
  font-size: 17px;
  font-weight: 700;
  font-family: "Capsule Sans Display",system-ui,"Segoe UI",sans-serif;
  /* border-bottom: 1px solid rgb(227, 233, 237); */
}

.cash-main-number {
  margin-right: 20px;
}

.right {
  width:330px;
}

.all-asset {
  display: block;
  width:330px;
  border: 1px solid rgb(227, 233, 237);
  grid-column-start:2;
}

h3 {
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  font-weight: 700;
  font-family: "Capsule Sans Display",system-ui,"Segoe UI",sans-serif;
  padding: 0px 24px;
}

a.asset-link {
  display:flex;
  text-decoration: none;
  justify-content: flex-start;
}

.one-asset {
  display: flex;
  width: 330px;
  justify-content: space-between;
  font-size: 13px;
  font-family: "Capsule Sans Display",system-ui,"Segoe UI",sans-serif;
  padding: 0px 24px;
  margin: 3px 0px 10px 0px;
  color: #0000EE
}

.one-asset:hover {
  background-color: rgb(227, 233, 237);
}

.asset-symbol {
  font-weight: 700;
}

.create-header {
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding-right: 25px;
}

.create-watchlist-button {
  border:1px solid rgb(227, 233, 237);
}

.create-watchlist-button:hover {
  background-color: rgb(197, 223, 236);
}

.create-list-form {
  padding: 0px 24px;
  height:80px;
}

.create-list-input {
  width:161px;
}

.create-list-buttons {
  display:flex;
  justify-content: space-around;
}

.create-list-create, .create-list-cancel {
  font-family: "Mongolian Baiti",system-ui,"Segoe UI",sans-serif;
  font-size: 15px;
  border:1px solid rgb(227, 233, 237);
  padding: 0px 10px;
  margin: 10px 15px 0px 0px;
  background-color: rgb(50, 33, 236);
  color:white;
  display: flex;
  justify-content: center;
  align-items:center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;

}

.create-list-create:hover, .create-list-cancel:hover {
  background-color: rgb(27, 53, 168);
}


.one-watchlist {
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.all-watchlist {
  display: block;
  width:330px;
  border: 1px solid rgb(227, 233, 237);
  font-size: 16px;
  font-family: "Mongolian Baiti",system-ui,"Segoe UI",sans-serif;
}

.one-watchlist {
  height:35px;
  font-weight: 700;
  color: #3eec12;
  cursor: pointer;
  padding: 3px 24px;
}

.one-watchlist:hover {
  background-color: rgb(227, 233, 237);
}

.one-watchlist-name:hover {
  color:#2c9911
}

.one-watchlist button {
  border: none;
  background-color: transparent;
  color:#3eec12
}

.one-watchlist button:hover {
  border: none;
  background-color: transparent;
  color:#2c9911
}

.list-stocks {
  border: 1px solid rgb(227, 233, 237);
}

.stock-link {
  text-decoration: none;
  font-family: "Capsule Sans Display",system-ui,"Segoe UI",sans-serif;
  font-size: 13px;
}

.one-stock {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding:10px 0px 10px 0px;
  color: #126452;
  padding: 3px 24px;
  height:35px;
}

.one-stock:hover {
  background-color: rgb(227, 233, 237);
}

.list-stock-symbol {
  font-weight: 700;
}
